<html ng-app="app">
	<head>
		<title>基于Angular.js的Cnodejs社区webapp</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="./src/assets/css/frozen.css">
		<link rel="stylesheet" type="text/css" href="./src/assets/css/github-markdown.css">
		<script src="./src/assets/js/zepto.min.js"></script>
		<script src="./src/assets/js/frozen.js"></script>
		<script src="./src/assets/js/angular.min.js"></script>
		<script src="./src/assets/js/highlight.pack.js"></script>
		<script src="./src/assets/js/index.js"></script>
	</head>
	<body>
		<div id="app" ng-controller="appCtrl" >
			<!-- 头部 -->
			<header id="head" class="ui-header ui-header-positive ui-border-b">
				<i class="ui-icon-return" onclick="history.back()"></i>			
				<h1>用户信息</h1>
			</header>
			<!-- 内容 -->
			<section class="ui-container">					
					<section id="panel">
						<div ng-if="onLoad" class="ui-actionsheet show"><i></i>正在加载中...</div>
			            <section class="ui-container ui-center">
			                <div class="ui-avatar-one"><span style="background-image:url({{user.avatar_url}})"></span></div>
			                <span>{{user.loginname}}</span>
			                <ul class="ui-tiled">
			                    <li><div>加入时间</div><i ng-bind="user.valueOf().create_at | date:'yyyy-MM-dd'"></i></li>
			                    <li><div>积分</div><i>2</i></li>
			                </ul>
			            </section>
						<div class="ui-tab">
						    <ul class="ui-tab-nav ui-border-b">
						        <li>最近回复</li>
						        <li>最新发布</li>
						    </ul>
						    <ul class="ui-tab-content" style="width: 300%; transition-property: transform; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(-320px, 0px) translateZ(0px);">
						        <li class="" style="height: auto;">
									<ul class="ui-list ui-list-link ui-border-tb ui-list-active">
										<li class="ui-border-t" ng-repeat="recent_replie in user.recent_replies">
											<div class="ui-avatar">
												<span style="background-image:url({{recent_replie.author.avatar_url}})"></span>
											</div>
											<div class="ui-list-info">
												<h4 class="ui-nowrap">{{recent_replie.title}}</h4>
												<p>								
													<span>{{recent_replie.author.loginname}}</span>
													<span class="date" ng-bind="recent_replie.valueOf().last_reply_at | date:'short'"></span>
												</p>
											</div>
										</li>
									</ul>
						        </li>
						        <li style="height: auto;">
									<ul class="ui-list ui-list-link ui-border-tb ui-list-active">
										<li class="ui-border-t" ng-repeat="recent_topic in user.recent_topics">
											<div class="ui-avatar">
												<span style="background-image:url({{recent_topic.author.avatar_url}})"></span>
											</div>
											<div class="ui-list-info">
												<h4 class="ui-nowrap">{{recent_topic.title}}</h4>
												<p>								
													<span>{{recent_topic.author.loginname}}</span>
													<span class="date" ng-bind="recent_topic.valueOf().last_reply_at | date:'short'"></span>
												</p>
											</div>
										</li>
									</ul>
						        </li>
						    </ul>
						</div>
						<script>							
						(function (){
				            var tab = new fz.Scroll('.ui-tab', {
						        role: 'tab',
						        interval: 3000
						    });
						})();        
						</script>
					</section>	
			</section>			
		</div>
	</body>
</html>